body {
}

.logo-link {
  transition: 0.2s ease-in-out;
}

.list-group {
  /* height: 100%; */

}

.sidebar {
  height: calc(100vh - 80px);
}

.logo-link:hover {
  opacity: 70%;

}

aside {

}

.dropdown {

}
